*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
display: flex;
justify-content: center;
align-items: center;

}
.dice{
    width: 200px;
    margin-right: 20px;
}
.app-container{
    width: 60%;
    background-color: rgb(144, 111, 111);
    padding: 1rem;
    border-radius: 20px;
display: flex;

align-items: center;
flex-direction: column;
}
.title{
    font-size: 3rem;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.sym{
    font-size: 2rem;
    margin-top: 20px;
}
.btn-turn{
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: rgb(121, 143, 164);
    color: rgb(41, 29, 29);
    cursor: pointer;
}
.animate{
    animation: rotate-fadeout 2s;
}
@keyframes rotate-fadeout {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);
    opacity: 0;}
}